<header
  class="bg-brand-900 h-9 w-full flex items-center text-center justify-center text-white"
>
  <span class="text-xs font-medium">
    Tenemos nuevo horario de 8:00 AM a 5:00 PM
  </span>
</header>
