---

---

<section class="relative bg-brand-900 text-white py-12">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between px-6"
  >
    <div class="max-w-lg text-center md:text-left">
      <h1 class="text-3xl md:text-4xl font-bold mb-4">
        Viaja hoy, paga a tu ritmo
      </h1>
      <p class="text-base text-gray-300 md:text-lg mb-6">
        Descubre el mundo sin preocuparte por el presupuesto. Con nuestra
        financiación flexible, tus sueños de viajar se hacen realidad. ¡Empieza
        tu aventura ahora!
      </p>
    </div>

    <div class="mt-6 md:mt-0">
      <button
        class="flex justify-center items-center bg-white text-teal-900 px-6 py-3 rounded-full font-semibold hover:bg-gray-100"
      >
        Financia tu viaje ahora
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.8047 4.19526C12.0651 4.45561 12.0651 4.87772 11.8047 5.13807L5.13807 11.8047C4.87772 12.0651 4.45561 12.0651 4.19526 11.8047C3.93491 11.5444 3.93491 11.1223 4.19526 10.8619L10.8619 4.19526C11.1223 3.93491 11.5444 3.93491 11.8047 4.19526Z"
            fill="#006179"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M4 4.66667C4 4.29848 4.29848 4 4.66667 4H11.3333C11.7015 4 12 4.29848 12 4.66667V11.3333C12 11.7015 11.7015 12 11.3333 12C10.9651 12 10.6667 11.7015 10.6667 11.3333V5.33333H4.66667C4.29848 5.33333 4 5.03486 4 4.66667Z"
            fill="#006179"></path>
        </svg>
      </button>
    </div>
  </div>

  <svg
    class="absolute bottom-0 right-0 w-[500px] h-[280px] md:w-[600px] opacity-20 pointer-events-none"
    width="556"
    height="280"
    viewBox="0 0 556 280"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <mask
      id="mask0_4399_10006"
      maskUnits="userSpaceOnUse"
      x="0"
      y="-246"
      width="623"
      height="623"
    >
      <path d="M623 -246H0V377H623V-246Z" fill="white"></path>
    </mask>
    <g mask="url(#mask0_4399_10006)">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M411.604 266.533C381.376 316.915 344.821 339.62 311.5 339.62C278.178 339.62 241.624 316.915 211.395 266.533C181.612 216.895 161.98 145.908 161.98 65.5C161.98 -14.9084 181.612 -85.8946 211.395 -135.532C241.624 -185.913 278.178 -208.62 311.5 -208.62C344.821 -208.62 381.376 -185.913 411.604 -135.532C441.386 -85.8946 461.02 -14.9084 461.02 65.5C461.02 145.908 441.386 216.895 411.604 266.533ZM623 65.5C623 -106.537 483.535 -246 311.5 -246C139.463 -246 0 -106.537 0 65.5C0 237.535 139.463 377 311.5 377C483.535 377 623 237.535 623 65.5ZM37.38 65.5C37.38 177.422 104.454 273.675 200.598 316.258C154.498 259.53 124.6 168.336 124.6 65.5C124.6 -37.3346 154.498 -128.531 200.598 -185.259C104.454 -142.675 37.38 -46.4207 37.38 65.5ZM585.62 65.5C585.62 177.422 518.545 273.675 422.403 316.258C468.502 259.53 498.4 168.336 498.4 65.5C498.4 -37.3346 468.502 -128.531 422.403 -185.259C518.545 -142.675 585.62 -46.4207 585.62 65.5ZM311.5 99.765C330.424 99.765 345.765 84.4236 345.765 65.5C345.765 46.576 330.424 31.235 311.5 31.235C292.576 31.235 277.235 46.576 277.235 65.5C277.235 84.4236 292.576 99.765 311.5 99.765Z"
        fill="#006179"></path>
    </g>
  </svg>
</section>
